#lift__noticesContainer___notice {
	color: green;
}
#lift__noticesContainer___warning {
	color: yellow;
}
#lift__noticesContainer___error {
	color: red;
}

body {
	margin-left: auto;
	margin-right: auto;
	width: 950px;
}

#menu ul li {
	list-style: none;
}

#debug ul li {
	list-style: none;
}

#legal {
	text-align: center;
}

tr.tr0 td {
	background-color: #e0e0FF;
}

tr.tr1 td {
	background-color: #f0f0f0;
}
	

